.container {
  height: 70vh;
  background-image: url(../../../img/ChatBackground.jpg);
  overflow: scroll;
  width: 75vw;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.11);
  border-left: 1px solid rgba($color: #000000, $alpha: 0.11);
}

.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-track {
  background-color: white;
}

.container::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
  border-radius: 20px;
}

.from_me {
  display: flex;
  white-space: normal;
  justify-content: flex-start;
  margin-right: 10px;
  align-items: center;
  margin-left: 55vw;
  background-color: rgba($color: #b4e4ffb2, $alpha: 0.7);
  color: black;
  border-radius: 30px;
  min-height: 60px;
  height: auto;
  margin-top: 5px;
  position: relative;
  .text_me {
    max-width: 70%;
    margin-left: 15px;
    word-wrap: break-word;
  }
  label {
    color: black;
    position: absolute;
    bottom: 0;
    right: 40px;
    font-size: 14px;
  }
}

.from_contact {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  align-items: center;
  max-width: 350px;
  background-color: #e8ecf3;
  color: black;
  border-radius: 30px;
  min-height: 60px;
  height: auto;
  margin-top: 5px;
  position: relative;
  white-space: normal;
  .text_contact {
    margin-left: 5px;
    max-width: 80%;
    word-wrap: break-word;
  }
  label {
    color: black;
    position: absolute;
    bottom: 0;
    right: 50px;
    font-size: 14px;
  }
}

.chat_pic {
  width: 250px;
  height: 250px;
  margin-top: 5px;
}

.chat_pic_from_contact {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
  margin-top: 5px;
}

@media screen and (max-width: 800) {
  .from_me {
    .text_me {
      max-width: 40%;
    }
  }
  .from_contact {
    max-width: 150px;
    min-height: 30px;
    height: auto;
    .text_contact {
      max-width: 40%;
    }
  }
}
