.contact_field {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 24vw;
  margin: 0 auto;
}

.searchbar {
  border-radius: 50px;
  width: 23vw;
}

.contacts {
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
}

.container {
  border-right: 5px solid #cdcdcd;
}

.cuP {
  cursor: pointer;
}
