.cardContainer {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  width: 96%;
  color: black;
  position: relative;
  cursor: pointer;
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    width: 100%;
  }
  img {
    justify-content: flex-start;
    width: 61px;
    height: 61px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    margin-left: 5px;
    margin-top: 2px;
  }
  .nameAndTime {
    display: flex;
    flex-direction: row;
    width: 100%;
    .name {
      justify-content: start;
    }
    .time {
      justify-content: flex-end;
      font-weight: 300;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .tagsAndUnread {
    display: flex;
    flex-direction: row;
    width: 100%;
    .tags {
      font-weight: 400;
      width: 60px;
      height: 19px;
      margin-left: 5px;
      span {
        color: white;
      }
    }
    .unreadBlock {
      background-color: #e8ecf3;
      width: 38px;
      height: 20px;
      border-radius: 25px;
      position: absolute;
      top: 5;
      right: 0;
      .unread {
        font-weight: 400;
        position: absolute;
        margin-right: 15px;
        right: 0;
        top: 5;
      }
      .read {
        display: none;
        font-weight: 300;
        background-color: #e8ecf3;
      }
    }
    .readBlock {
      background-color: white;
    }
  }
}
.openedChat {
  background-color: #e8ecf3;
}
.unreadMessage {
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .card {
    width: 50%;
  }
  img {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: flex-start;
  }
  .nameAndTime {
    font-size: 12px;
  }
  .tags {
    width: 30px;
    font-size: 9px;
  }
}
@media screen and (max-width: 400px) {
  .card {
    width: 30%;
    img {
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: flex-start;
    }
  }
  .nameAndTime {
    font-size: 8px;
  }
  .tags {
    width: 15px;
    font-size: 6px;
  }
}
